/* main.css */

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(242, 242, 242);
}

section {
    margin-top: 111px;
    margin-bottom: 5rem;
}

h1,
h2,
h3 {
    white-space: nowrap;
}

h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 800 !important;
}

img, video {
    box-shadow: 0 0 5px gray;
    margin-top: 5px;
    margin-bottom: 25px;
}

video {
    width: 100%;
    height: auto;
}

.section-header {
    text-align: center;
}

.section-description p {
    margin: 0 10% 0;
    text-align: center;
    font-size: 16pt;
}


.hidden {
    display: none;
}

.deleted {
    visibility: hidden;
}

#contact-section .row {
    text-align: center;
}
.icon-container {
    text-align: center;
}
.fa {
    text-align: center !important;
    font-size: 60pt;
}

.fa-linkedin {
    color: rgb(48,114,172);
}

.fa-linkedin:hover {
    color: rgba(48,114,172, 0.8);
    text-decoration: none;
}
.fa-github {
    color: rgb(23,21,21);
}

.fa-github:hover {
    color: rgba(23,21,21, 0.8);
    text-decoration: none;
}

.icon-name {
    margin-top: 40px;
    font-size: 1.2rem;
    text-align: center;
}



/* masthead.css */


:root {
    --masthead-grad-start: rgb(0, 0, 0);
    --masthead-grad-end: rgb(50, 50, 50);
}


header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: -webkit-gradient(linear, left bottom, left top, from(var(--masthead-grad-start)), to(var(--masthead-grad-end)));
    background: linear-gradient(0deg, var(--masthead-grad-start) 0%, var(--masthead-grad-end) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    border-radius: 5px;
}

header.masthead .masthead-content {
    z-index: 1;
    position: relative;
}

header.masthead .masthead-content .masthead-heading-custom {
    font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading-custom {
    font-size: 2rem;
}

header.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(var(--masthead-grad-start)), to(var(--masthead-grad-end)));
    background: linear-gradient(0deg, var(--masthead-grad-start) 0%, var(--masthead-grad-end) 100%);
}

header.masthead .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
}

header.masthead .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
}

header.masthead .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
}

header.masthead .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
}

.masthead-heading {
    color: gray;
}

.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(10rem + 55px);
        padding-bottom: 10rem;
    }

    header.masthead .masthead-content .masthead-heading-custom {
        font-size: 5rem;
    }

    header.masthead .masthead-content .masthead-subheading-custom {
        font-size: 4rem;
    }
}

.btn-primary {
    background-color: rgb(236, 112, 48);
    border-color: rgb(236, 112, 48) !important;
    border: 2px solid;

    -webkit-transition: background-color 1s !important;
    -moz-transition: background-color 1s !important;
    -o-transition: background-color 1s !important;
    transition: background-color 1s !important;
}

.btn-primary:hover {
    background: -moz-linear-gradient(top, var(--masthead-grad-start) 0%, var(--masthead-grad-end) 100%);
    background: -webkit-linear-gradient(top, var(--masthead-grad-start) 0%, var(--masthead-grad-end) 100%);
    background: linear-gradient(to bottom, var(--masthead-grad-start) 0%, var(--masthead-grad-end) 100%);
    border-color: rgb(236, 112, 48) !important;

    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}


/* navbar.css */


:root {
    --nav-bg-color-safari: rgba(255, 255, 255, 0.6);
    --nav-bg-color: rgba(255, 255, 255, .97);
    --last-name-color: rgb(207, 76, 35);
}

.navbar-custom .navbar-brand {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.nav-item {
    text-transform: uppercase;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    transition: all .5s ease-out;
}

.navbar-toggler {
    margin-bottom: 5px;
}

.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--nav-bg-color) !important;
    backdrop-filter: blur(12px) saturate(3) ;
    -webkit-backdrop-filter: blur(12px) saturate(3)  ;
}

.safari {
    background-color: var(--nav-bg-color-safari) !important;
    backdrop-filter: blur(12px) saturate(3) !important ;
    -webkit-backdrop-filter: blur(12px) saturate(3) !important;
}


.name {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: inherit;
}

.name:hover {
    text-decoration: none;
}

.last {
    color: var(--last-name-color);
}

.last:hover {
    color: var(--last-name-color);
}


@media (min-width: 992px) {

    .navbar-brand {
        position: absolute;
        left: 2%;
        transform: translatex(0%);
    }

    .navbar-custom {
        height: 77px;
    }
}

/* project.css */


:root {
    --project-bg-color: rgba(255, 255, 255, .7);
    --project-font-color: rgb(68, 70, 75);
}

.project {
    color: black;

    float: none;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 7px;
    padding: 20px;
    border: 1px solid white;
    height: auto;

    text-align: center;
    box-shadow: 1px 1px 3px grey;

    background: var(--project-bg-color);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

}

.project > * {
    color: var(--project-font-color);
}

.project > h3 {
    font-weight: bold;
}

.project a {
    color: grey;
}

.project a:hover {
    color: var(--project-font-color);
    text-decoration: none;
}

.anchor-container {
    text-align: left !important;
}

.back-btn {
    float: left;
}

#project-screen {
    text-align: center;

}

#project-screen * {
    text-align: center;
    margin: 0 auto;
}

#project-screen p {
    font-size: 1.2rem;
}

#project-screen h1 {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 0;
}

#project-screen h2 {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 0;
}

#project-screen h4 {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

#project-screen .project {
    background: -moz-linear-gradient(top, var(--project-bg-color) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, var(--project-bg-color) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, var(--project-bg-color) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    width: 94%;
    max-width: 100%;
}

/* skillset.css */

.skill-name {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.subheading {
    margin-top: 60px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.3rem;
}


.progress {
    border-radius: 7px;
    box-shadow: none;
    background: white;
    transition: all 1s ease-in-out;
    width: 5%;
}

.progress.c {
    background: linear-gradient(to right, rgba(129, 139, 152, .6), rgba(129, 139, 152, 1));
}

.progress.cpp {
    background: linear-gradient(to right, rgba(53, 105, 159, .6), rgba(53, 105, 159, 1));
}

.progress.cshrp {
    background: linear-gradient(to right, rgba(95, 40, 119, .6), rgba(95, 40, 119, 1));
}

.progress.swift {
    background: linear-gradient(to right, rgba(235, 74, 55, .6), rgba(235, 74, 55, 1));
}

.progress.java {
    background: linear-gradient(to right, rgba(235, 156, 63, .6), rgba(235, 156, 63, 1));
}

.progress.python {
    background: linear-gradient(to right, rgba(247, 202, 87, .6), rgba(247, 202, 87, 1));
}

.progress.sql {
    background: linear-gradient(to right, rgba(40, 96, 134, .6), rgba(40, 96, 134, 1));
}

.progress.html {
    background: linear-gradient(to right, rgba(211, 87, 54, .6), rgba(211, 87, 54, 1));
}

.progress.css {
    background: linear-gradient(to right, rgba(63, 129, 187, .6), rgba(63, 129, 187, 1));
}

.progress.js {
    background: linear-gradient(to right, rgba(230, 135, 70, .6), rgba(230, 135, 70, 1));
}

.progress.ui {
    background: linear-gradient(to right, rgba(109, 201, 98, .6), rgba(109, 201, 98, 1));
}

.progress.qt {
    background: linear-gradient(to right, rgba(109, 201, 98, .6), rgba(109, 201, 98, 1));
}

.progress.scikit {
    background: linear-gradient(to right, rgba(235, 157, 78, .6), rgba(235, 157, 78, 1));
}

.progress.regression {
    background: linear-gradient(to right, rgba(224, 103, 88, .6), rgba(224, 103, 88, 1));
}

.progress.classification {
    background: linear-gradient(to right, rgba(210, 58, 85, .6), rgba(210, 58, 85, 1));
}

.progress.clustering {
    background: linear-gradient(to right, rgba(73, 156, 173, .6), rgba(73, 156, 173, 1));
}

.progress.dimention {
    background: linear-gradient(to right, rgba(82, 168, 220, .6), rgba(82, 168, 220, 1));
}

.progress.website {
    background: linear-gradient(to right, rgba(219, 51, 120, .6), rgba(219, 51, 120, 1));
}

.progress.database {
    background: linear-gradient(to right, rgba(89, 168, 244, .6), rgba(89, 168, 244, 1));
}
