/* main.css */

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(242, 242, 242);
}

section {
    margin-top: 111px;
    margin-bottom: 5rem;
}

h1,
h2,
h3 {
    white-space: nowrap;
}

h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 800 !important;
}

img, video {
    box-shadow: 0 0 5px gray;
    margin-top: 5px;
    margin-bottom: 25px;
}

video {
    width: 100%;
    height: auto;
}

.section-header {
    text-align: center;
}

.section-description p {
    margin: 0 10% 0;
    text-align: center;
    font-size: 16pt;
}


.hidden {
    display: none;
}

.deleted {
    visibility: hidden;
}

#contact-section .row {
    text-align: center;
}
.icon-container {
    text-align: center;
}
.fa {
    text-align: center !important;
    font-size: 60pt;
}

.fa-linkedin {
    color: rgb(48,114,172);
}

.fa-linkedin:hover {
    color: rgba(48,114,172, 0.8);
    text-decoration: none;
}
.fa-github {
    color: rgb(23,21,21);
}

.fa-github:hover {
    color: rgba(23,21,21, 0.8);
    text-decoration: none;
}

.icon-name {
    margin-top: 40px;
    font-size: 1.2rem;
    text-align: center;
}



