/* navbar.css */


:root {
    --nav-bg-color-safari: rgba(255, 255, 255, 0.6);
    --nav-bg-color: rgba(255, 255, 255, .97);
    --last-name-color: rgb(207, 76, 35);
}

.navbar-custom .navbar-brand {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.nav-item {
    text-transform: uppercase;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    transition: all .5s ease-out;
}

.navbar-toggler {
    margin-bottom: 5px;
}

.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--nav-bg-color) !important;
    backdrop-filter: blur(12px) saturate(3);
    -webkit-backdrop-filter: blur(12px) saturate(3);
    top: 0;
    width: 100%;
    z-index: 100;
    position: sticky;
}

.safari {
    background-color: var(--nav-bg-color-safari) !important;
    backdrop-filter: blur(12px) saturate(3) !important;
    -webkit-backdrop-filter: blur(12px) saturate(3) !important;
}


.name {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: inherit;
}

.name:hover {
    text-decoration: none;
}

.last {
    color: var(--last-name-color);
}

.last:hover {
    color: var(--last-name-color);
}


@media (min-width: 992px) {

    .navbar-brand {
        position: absolute;
        left: 2%;
        transform: translatex(0%);
    }

    .navbar-custom {
        height: 77px;
    }
}

@media (min-height: 500px) {

    .navbar-custom {
        position: fixed;

    }
}
