/* skillset.css */

.skill-name {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.subheading {
    margin-top: 60px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.3rem;
}


.progress {
    border-radius: 7px;
    box-shadow: none;
    background: white;
    transition: all 1s ease-in-out;
    width: 5%;
}

.progress.c {
    background: linear-gradient(to right, rgba(129, 139, 152, .6), rgba(129, 139, 152, 1));
}

.progress.cpp {
    background: linear-gradient(to right, rgba(53, 105, 159, .6), rgba(53, 105, 159, 1));
}

.progress.cshrp {
    background: linear-gradient(to right, rgba(95, 40, 119, .6), rgba(95, 40, 119, 1));
}

.progress.swift {
    background: linear-gradient(to right, rgba(235, 74, 55, .6), rgba(235, 74, 55, 1));
}

.progress.java {
    background: linear-gradient(to right, rgba(235, 156, 63, .6), rgba(235, 156, 63, 1));
}

.progress.python {
    background: linear-gradient(to right, rgba(247, 202, 87, .6), rgba(247, 202, 87, 1));
}

.progress.sql {
    background: linear-gradient(to right, rgba(40, 96, 134, .6), rgba(40, 96, 134, 1));
}

.progress.html {
    background: linear-gradient(to right, rgba(211, 87, 54, .6), rgba(211, 87, 54, 1));
}

.progress.css {
    background: linear-gradient(to right, rgba(63, 129, 187, .6), rgba(63, 129, 187, 1));
}

.progress.js {
    background: linear-gradient(to right, rgba(230, 135, 70, .6), rgba(230, 135, 70, 1));
}

.progress.ui {
    background: linear-gradient(to right, rgba(109, 201, 98, .6), rgba(109, 201, 98, 1));
}

.progress.qt {
    background: linear-gradient(to right, rgba(109, 201, 98, .6), rgba(109, 201, 98, 1));
}

.progress.scikit {
    background: linear-gradient(to right, rgba(235, 157, 78, .6), rgba(235, 157, 78, 1));
}

.progress.regression {
    background: linear-gradient(to right, rgba(224, 103, 88, .6), rgba(224, 103, 88, 1));
}

.progress.classification {
    background: linear-gradient(to right, rgba(210, 58, 85, .6), rgba(210, 58, 85, 1));
}

.progress.clustering {
    background: linear-gradient(to right, rgba(73, 156, 173, .6), rgba(73, 156, 173, 1));
}

.progress.dimention {
    background: linear-gradient(to right, rgba(82, 168, 220, .6), rgba(82, 168, 220, 1));
}

.progress.website {
    background: linear-gradient(to right, rgba(219, 51, 120, .6), rgba(219, 51, 120, 1));
}

.progress.database {
    background: linear-gradient(to right, rgba(89, 168, 244, .6), rgba(89, 168, 244, 1));
}
